{
  "version": "2018-05-29",
  "method": "GET",
  "resourcePath": "/test/anamnesis/testId-ad680c66-e392-4c3d-b11a-a9d9fb5147b3",
  "params": {
    "headers": {
      "content-type": "application/json",
      "x-api-key": "LVLsCMFoTi6tRZDfxRGcJ6x8vtGwStT1tTKVg4L1"
    }
  }
}
